#f{
    width:100%;
    height: 300px;
    border:1px solid;
    display:block;
    
}
ul{
    list-style:none;
}
h2{
    text-align:center;
}
li{
    height:30px;
    line-height:30px;
}